<section class="user-card">
  <mat-card class="example-card">
    <mat-card-header>
      <img class="user-card-img" mat-card-xl-image src="{{ user?.avatar }} " />
      <mat-card-title-group class="title">
        <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>
        <mat-card-title>{{ user?.name }}</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="user-card-text">
      <p>{{ user?.biography }}</p>
      <p>{{ 'sdfsdfdsf' }}</p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button color="primary">ACESSOS</button>
      <button mat-button color="primary">EDITAR</button>
    </mat-card-actions>
  </mat-card>
</section>
